/bin/
/iTunes Library.xml
/manualtest/
/.DS_Store
/target/
/filtered_melodies.tsv
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__com_google_guava_guava_20_0.xml
/.idea/libraries/Maven__commons_io_commons_io_2_7.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_0.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_0.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_0.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/MelodiesToGo.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
